<div class = "pragmatic_header">
    <div>
        <a href="{% url 'accountapp:hello_world' %}"><h1 class="pragmatic_header_logo">Pragmatic</h1></a>
    </div>
    <div>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:create' %}?next={{request.path}}">
            <span>SignUp</span>
        </a>

        <a href="{% url 'accountapp:login' %}?next={% url 'accountapp:hello_world' %}">
            <span>Login</span>
        </a>

        {% else %}

         <a href="{% url 'accountapp:logout' %}?next={% url 'accountapp:login' %}">
            <span>Logout</span>
        </a>

        <a href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>MyPage</span>
        </a>

        {% endif %}
    </div>
</div>